div {
  border: 20px solid #fff; /* this is short hand for setting
                            the border's width, its type, and color */
  display: inline-block; /* a way of positioning elements */
  min-width: 20em; /* the two min styles make the shape */
  min-height: 25em; /* of the divs oblong*/
  border-radius: 50%; /* this makes the normally square div round */

  border-left-color: transparent; 
  border-right-color: transparent;  
  border-bottom-color: transparent; 
}
#red{
    border-top-color: #f00;

}
#orange{
    border-top-color: orange;

}
#yellow{
    border-top-color: yellow;


}
#green{
    border-top-color: green;

}
#blue{
    border-top-color: blue;

}
#purple{
    border-top-color: purple;

}
#indigo{
    border-top-color: #4B0082;


}
#violet {
    border-top-color: #EE82EE;


}
